.registration-container {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
}

.registration-box {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  border: 2px solid rgb(71, 217, 168);
  box-shadow: 0 0 20px rgba(71, 217, 168, 0.5);
  padding: 20px 50px;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeInZoom 0.6s ease forwards;
}

.registration-logo {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.registration-form {
  width: 100%;
}

.loginform-group {
  width: 100%;
  margin-bottom: 12px;
}

.registration-form input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(71, 217, 168, 0.6);
  border-radius: 8px;
  color: #47d9a8;
  outline: none;
  transition: border-color 0.3s ease;
}

.registration-form input::placeholder {
  color: rgba(71, 217, 168, 0.7);
}

.registration-form input:focus {
  border-color: #47d9a8;
  background-color: rgba(71, 217, 168, 0.15);
  color: #47d9a8;
}

.login-button {
  width: 100%;
  margin-top: 10px;
  background-color: #47d9a8;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  padding: 9px;
}

.login-button:hover {
  background-color: #017f55;
}

.login-link {
  margin-top: 15px;
  color: #47d9a8;
  text-align: center;
}

.login-link a {
  text-decoration: underline;
  color: #47d9a8;
  cursor: pointer;
}

@keyframes fadeInZoom {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .registration-container {
    flex-direction: column;
    height: auto;
  }

  .registration-box {
    padding: 20px 30px;
  }

  .registration-form input,
  .login-button {
    max-width: 100%;
  }
}
