.reset-container {
        display: flex;
        flex-direction: row;
        position: relative;
        z-index: 2;
        height: 100vh;
}

.resetform-container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        flex-direction: column;
        box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
        position: relative;
}

.border-reset {
        max-width: 550px;
        width: 100%;
        border: 2px solid rgb(71, 217, 168);
        box-shadow: 0 0 20px rgba(71, 217, 168, 0.5);
        padding: 20px 50px;
        border-radius: 40px;
        background-color: rgba(0, 0, 0, 0.5);
        animation: fadeInZoom 0.6s ease forwards;
        text-align: center;
}

.resetform-group input {
        width: 100%;
        padding: 12px;
        margin-bottom: 15px;
        font-size: 1rem;
        background-color: rgba(255, 255, 255, 0.15);
        border: 1px solid rgba(71, 217, 168, 0.6);
        border-radius: 8px;
        color: #47d9a8;
        outline: none;
        transition: border-color 0.3s ease;
        cursor: text;
}

.resetform-group input::placeholder {
        color: rgba(71, 217, 168, 0.7);
}

.resetform-group input:focus {
        border-color: #47d9a8;
        background-color: rgba(71, 217, 168, 0.15);
        color: #47d9a8;
}

.reset-button {
        width: 100%;
        margin-top: 40px;
        background-color: #47d9a8;
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        cursor: pointer;
        padding: 9px;
}

.reset-button:hover {
        background-color: #017f55;
}

@keyframes fadeInZoom {
        0% {
                opacity: 0;
                transform: scale(0.8);
        }

        100% {
                opacity: 1;
                transform: scale(1);
        }
}

/* Mobile Responsive */
@media (max-width: 991px) {
        .reset-container {
                flex-direction: column;
                height: auto;
        }

        .resetform-container {
                padding: 25px;
                box-shadow: none;
        }

        .border-reset {
                padding: 25px 30px;
                border-radius: 30px;
        }
}

@media (max-width: 767px) {
        .resetform-container {
                padding: 20px;
        }

        .border-reset {
                padding: 20px;
                border-radius: 25px;
        }

        .reset-button {
                font-size: 15px;
                height: 42px;
        }
}

@media (max-width: 480px) {
        .border-reset {
                padding: 15px;
                border-radius: 20px;
        }

        .reset-button {
                width: 100%;
                font-size: 14px;
                padding: 10px;
        }
}